@import "../helpers/variables";

.home {
    padding: 0 40px;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 1024px) {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    @media (max-width: 425px) {
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        flex: 3;
        display: flex;
        align-items: flex-end;


        img {
            width: 100%;
            min-width: 250px;

            @media (max-width: 694px) {
                width: 80%;
            }

            @media (max-width: 320px) {
                margin: auto;
                min-width: 100px;
            }
        }
    }

    .books {
        display: flex;
        flex: 4;
        gap: 1rem;

        .book {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                @media (max-width: 316px) {
                    font-size: 0.9rem;
                }
            }

            p {
                font-size: 0.8rem;

                @media (max-width: 316px) {
                    font-size: 0.7rem;
                }
            }

            br {
                display: none;

                @media (max-width: 789px) {
                    display: inline;
                }

                @media (max-width: 694px) {
                    display: none;
                }

                @media (max-width: 474px) {
                    display: inline;
                }

                @media (max-width: 316px) {
                    display: inline;
                }

                @media (max-width: 252px) {
                    display: none;
                }

                @media (max-width: 233px) {
                    display: inline;
                }
            }

            img {
                // border-radius: 10px;
                width: 100%;
                min-width: 150px;

                @media (max-width: 415px) {
                    min-width: 100px;
                }

                @media (max-width: 316px) {
                    min-width: 50px;
                }

            }

            button {
                // border-radius: 5px;
                color: $textcolor;
                background-color: $bgcolor;
                padding: 0.5rem;
                border: 1px solid $textcolor;
                cursor: pointer;

                &.inactive {
                    color: $textcolor50;
                    border: solid 1px $textcolor50;

                    &:hover {
                        color: $textcolor50;
                        border: 1px solid $textcolor50;
                        cursor: auto;
                    }
                }

                @media (max-width: 474px) {
                    font-size: 0.8rem;
                }

                @media (max-width: 366px) {
                    font-size: 0.6rem;
                    padding: 0.3rem;
                }

                &:hover {
                    color: $accentcolor;
                    border: 1px solid $accentcolor;
                }
            }
        }
    }
}